<!DOCTYPE html>
<html>
<head>
  <title>MyPortfolioBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
</head>
<body>

		<% if params[:controller] == "blogs" && params[:action] == "index" || params[:controller] == "blogs" && params[:action] == "show"%>
			<%= react_component('Sub', {logoSrc: image_path("white_logo.png")}, {prerender: true}) %>
		<%else %>
			<%= react_component('MenuBanner', {logoSrc: image_path("white_logo.png")}, {prerender: true}) %>
		<% end %>
		
	<%= yield %>

</body>
</html>
